
body {
  margin: 0px;
  overflow:hidden;
  background-color: #161c22;
}

#gameDiv {
  position: absolute;
  top: 0px;
  z-index: -1;
}

#signdivusername{
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 15px;
  word-wrap: break-word;
  color: #e0e0ff;
  background: none;
  resize: none;
  border: 0px;
  height: 23px;
  opacity: 1;
  position: absolute;
  left: 12px;
  top: 10px;
  vertical-align: middle;
  display: inline-block;
}

#signDiv {
  top: 100px;
  width: 1000px;
  height: 100%;
  z-index: 20;
  margin-top: 200px;
  margin: auto;
  margin-right: auto;
  padding: 50px;
}

.mytextbox{
  width: 244px;
  margin-top: 34px;
  background: rgb(76, 68, 124);
  box-shadow: rgb(0, 0, 0) 0px 6px 50px;
  opacity: 1;

  margin-left: auto;
  margin-right: auto;
}

.taho{
  position: relative;
  height: 43px;
  border-radius: 29px;
  border: 2px solid rgba(0, 0, 0, 1);
  overflow: hidden;
  display: inline-block;
}

#teamname{
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 15px;
  word-wrap: break-word;
  color: #e0e0ff;
  background: none;
  resize: none;
  border: 0px;
  height: 23px;
  opacity: 1;
  position: absolute;
  left: 12px;
  top: 10px;
  vertical-align: middle;
  display: inline-block;
  width: 220px
}

#teamname option{
  background: rgb(76, 68, 124);
}


#entername{
  background: rgb(18, 150, 18);
  position: relative;
  width: 87px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  cursor: pointer;
  height: 47px;
  line-height: 47px;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 20px;
  border-radius: 34px;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 50px;
}

